.linkContainer {
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100%;
  width: 25%;
}

.theHead {
  color: black;
  width: 100%;
  background: white;
}
.theHead h2 {
  width: 100%;
  font-size: 3.5vw;
}
